*********************************************
* Bienvenue sur {{ ansible_hostname }}
* Entreprise : {{ entreprise_nom }}
* Environnement : {{ environnement }}
* OS : {{ ansible_distribution }} {{ ansible_distribution_version }}
* IP : {{ ansible_default_ipv4.address | default('N/A') }}
* Contact : {{ contact_admin }}
*********************************************
Acces reserve au personnel autorise.
Toute activite est journalisee.
*********************************************
